# BLU03 - Learning Notebook - Part 1 of 3 - Relational Databases and SQL

## 1. Introduction

In this notebook, we'll start by learning about databases. There are different types of databases, but here we'll focus on relational databases. In that context, we'll talk about tables and how different tables can relate with each other.

Then, we'll connect to a real database and practice extracting information from there, using a query-language called SQL.

Finally, we'll see how to load data from databases into pandas DataFrames.

## 2. What is a Database

Generically, a [**database**](https://en.wikipedia.org/wiki/Database) is an organized collection of data. By this definition, a teenager's diary or an excel spreadsheet are examples of databases.

In fact, a database by itself is of little relevance. We are actually only interested in databases supported by a **database-management system** (DBMS). These are software applications that allow end-users and other applications to interact with the stored data.

<img src="media/dbms.png" width=500/>

You may have heard about some popular DBMSs, like PostgreSQL, MySQL or SQLite.

From here on, we will be referring to databases as combination of the actual database and its DBMS.

---

We can separate databases in two groups: **relational** and **non-relational** databases.

#### Relational databases

In a relational database, we model the data through tables and relationships between them. It may sound a little vague now, but it will start making sense once we look at some examples.

When talking about relational databases, it is fundamental to also talk about [**SQL**](https://en.wikipedia.org/wiki/SQL). It stands for **S**tructured **Q**uery **L**anguage, and as the name suggests, it's a domain-specific language, used to interact with this kind of databases. As a result, relational databases are often called **SQL databases**.

#### Non-relational databases

There are many different types of non-relational databases, such as key-value databases, document databases or graph databases.
In opposition to SQL databases, non-relational databases are often called [**NoSQL**](https://en.wikipedia.org/wiki/NoSQL) **databases**. In this notebook we will only be talking relational databases and SQL, but you should definitely checkout NoSQL databases if you have the time!

## 3. SQL database management systems

There are a few different DBMSs around, these days.

Here is a list of the most relevant:
* [PostgreSQL](https://en.wikipedia.org/wiki/PostgreSQL)
* [MySQL](https://en.wikipedia.org/wiki/MySQL)
* [SQLite](https://en.wikipedia.org/wiki/SQLite)
* [Microsoft SQL Server](https://en.wikipedia.org/wiki/Microsoft_SQL_Server)
* [Oracle DB](https://en.wikipedia.org/wiki/Oracle_Database)

Although this is not what we want focus on in this notebook, it is worth mentioning that there are some SQL syntax differences between these DBMSs, so when in doubt, just check the respective documentation.

## 4. SQL

In order to introduce you to SQL, let's image that we want to build a website similar to [Rotten Tomatoes](https://www.rottentomatoes.com/) or [IMDb](https://www.imdb.com/), with the help of a SQL database to store and interact with our data. For future reference, we will call our database **MoviesDb**.


### 4.1 Tables

In the first place, MoviesDb must be able to display a set of movies to its users. Thus, our first challenge is to model the movie entity. 
Each movie in our database is characterized by it's *original title*, *release date*, *budget*, *runtime* and *original language*.

To store such data we need a **table**, called movie table. It's common practice to use singular nouns as tables names.

The table is the basic building block of a SQL Database. 
Each table has:
* **rows** (aka **records**), that aggregate the data of a **single entry** of the entity being modeled
* **columns** (aka **fields**), that are the properties that characterize the entity

### 4.2 Data Types

Similarly to what we saw in pandas DataFrames, each column has a unique data type, i.e, all the values in a column have the same data type.
There are different data types to choose from, such as:

1. INTEGER    - integer numeric
2. FLOAT      - decimal numeric
3. VARCHAR(n) - character string with variable length, up to n characters
4. DATE       - stores year, month, day 
5. TIMESTAMP  - stores year, month, day, hour, minute, second, millisecond...
6. BOOLEAN    - true or false

Our movie table has the following data types:
* *id* - INTEGER
* *original_title* - VARCHAR(255)
* *release_date* - TIMESTAMP
* *budget* - INTEGER
* *runtime* - INTEGER
* *original_language* - VARCHAR(5)

Here is a snapshot of the movie table:

id  |original_title   |release_date        |budget    |runtime |original_language |
----|-----------------|--------------------|----------|--------|------------------|
1   |Toy Story        |1995-10-30 00:00:00 |30000000  |81      |en                |
2   |Jumanji          |1995-12-15 00:00:00 |65000000  |104     |en                |
3   |Grumpier Old Men |1995-12-22 00:00:00 |0         |101     |en                |

### 4.3 Constraints

In SQL tables, we can impose some constraints on the columns values. These constraints are like rules that determine if a certain value may belong to a column or not. The most frequent constraints are the following:

* **NOT NULL**: a column with this constraint may not have NULL values
* **UNIQUE**: a column with this constraint may not have duplicate values
* **DEFAULT**: when inserting records in the table, if no value is specified for this column, a default value will be used

### 4.4 Indexes

An index in SQL works like an index in a book: it's a guide to help to find the value you're searching for in a faster way.

It's very useful to have indexed columns in tables that are consulted frequently. The downside is that inserting, deleting or updating data in such tables is slower, as they need to be reindexed when the data changes.


### 4.5 Keys

Keys are used to identify records in a table and also to create relationships among different tables.
The two most important types of keys are the **primary key** and the **foreign key**.

**Primary key**

A primary key uniquely identifies each record in a table.
It can be one column or a combination of multiple columns.

In any case, it must respect the UNIQUE and NOT NULL constraints, in order to uniquely identify a record in a table.

An example of a primary key is column *id* in the movie table.

**Foreign key**

A foreign key is a column (or a combination of columns) used to link the table with other tables. The foreign key references the primary key in another table.

Let's see an example. In the MoviesDb, we have other tables besides the movie table. One of them is the oscar table, that stores the winners of the Best Picture Oscar since 1929:

id |year |movie_id |
---|-----|---------|
1  |1929 |1817     |
2  |1930 |1818     |

In this table, column *id* is the table's primary key and column *movie_id* is a foreign key that references the primary key of the movie table.

## 5. Connecting to a SQL database

Time to interact with a real database!
For this, we'll need a SQL client, which is a graphical interface to interact with the database. So let's install a SQL client and get started!

Here we're going to use the [DBeaver SQL client](https://dbeaver.io/) since it can work with different DBMSs and can be installed in Linux, Mac and Windows machines.

If you're a Mac user and DBeaver doesn't work for you, for some reason, try [PSequel](http://www.psequel.com/) which is native for Mac OSX.

#### Step 1: Download and Install DBeaver / PSequel SQL client

[Download Link for DBeaver](https://dbeaver.io/download/)

[Download Link for PSequel](http://www.psequel.com/)

The following printscreens were taken in DBeaver, but in PSequel, it's all very similar.

#### Step 2: Connect to the academy database

First, select a PostgreSQL connection type, and then introduce the following connection settings:

- **host**: data-wrangling-batch3.cl9uj9cucww7.eu-west-1.rds.amazonaws.com
- **port**: 5432
- **database**: datawrangling
- **user**: ldsa_student
- **password**: (this was shared with you through slack)

<img src="media/dbeaver/connect_1.png" width=400/>

<img src="media/dbeaver/connect_2.png" width=400/>

#### Step 3: Setup

In the Database Navigator (a pannel on the left-hand side of the screen), right-click on the Postgres database and select "Edit Connection".

Go to Driver Properties and edit the "Current Schema" to **blu03**. Click Ok.

<img src="media/dbeaver/connect_3.png" width=550/>

In PSequel, you can select the schema in the upper left schema drop-down.

<img src="media/psequel_schema.png" width=550/>

Note: a [schema](https://www.postgresql.org/docs/current/static/ddl-schemas.html) is a way to group a set of tables under the same name. Here, we're specifying the blu03 schema in order to only see the tables that matter to us in the context of this BLU.

#### Step 4: Test that everything is working

Select "SQL Editor" in the tool-bar and then click on "New SQL editor".

Type "SELECT * FROM movie;" and check that you get the results (press CTRL+Enter or click the orange arrow to execute SQL statements)

<img src="media/dbeaver/connect_4.png" width=900/>

## 6. SQL queries

A SQL query is the operation of retrieving some information from a database. SQL is a very human oriented language, in the sense that its syntax uses keywords that mean something in English and just by reading a query, you understand immediately what it's doing.

So, now that we are connected to the database, we can start querying the MoviesDb.

### 6.1 SELECT * FROM

We can select all the rows from a table with the query: **SELECT \* FROM *table_name;***

The \* is called a wildcard and when you read this query, you can think of it as "select all the columns from table_name".

Also, the semicolon at the end of the query indicates the end of the query.

~~~
SELECT *
FROM   movie;  
~~~

id  |imdb_id    |original_title  |release_date        |budget    |runtime |original_language |
----|-----------|----------------|--------------------|----------|--------|------------------|
1   |tt0114709  |Toy Story       |1995-10-30 00:00:00 |30000000  |81      |en                |
2   |tt0113497  |Jumanji         |1995-12-15 00:00:00 |65000000  |104     |en                |

---

~~~
SELECT *
FROM   oscar;  
~~~

id |year |movie_id |
---|-----|---------|
1  |1929 |1817     |
2  |1930 |1818     |



We may also select just a subset of the table's fields.
It's often to see people saying that doing selects with wildcards (i.e, SELECT * FROM) is bad practice. This is because selecting many columns from a table has a higher performance cost, meaning that the query will take longer to run. So, as a rule of thumb, only select from a table the fields that you really need.

As an example, this is how we select the *release_date* and *original_title* from the movie table.

~~~
SELECT release_date,
       original_title
FROM   movie; 
~~~

release_date        |original_title   |
--------------------|-----------------|
1995-10-30 00:00:00 |Toy Story        |
1995-12-15 00:00:00 |Jumanji          |

### 6.2 WHERE

We can filter the selected rows, according to some conditions, using the **WHERE** keyword. In the example bellow we are trying to select movies with a specific *runtime* value.

~~~
SELECT id,
       original_title,
       runtime
FROM   movie
WHERE  runtime = 299;
~~~

id    |original_title | runtime |
------|---------------|---------|
42032 |The Phantom    |299      |


We can also combine conditions using logical operators like **AND** or **OR**.

~~~
SELECT id,
       original_title,
       runtime
FROM   movie
WHERE  runtime = 299
       OR runtime = 306;
~~~

id    |original_title    | runtime |
------|------------------|---------|
42031 |The Miracle Rider |306      |
42032 |The Phantom       |299      |

---

~~~
SELECT id,
       original_title, 
       runtime, 
       original_language
FROM   movie
WHERE  runtime > 300 
       AND original_language = 'it';
~~~

id    |original_title     | runtime | original_language |
------|------------------ |---------|-------------------|
7421  |La Meglio Gioventú | 366     |it                 |
8754  |Novecento          | 317     |it                 |

Remember what we said about the unique constraint?
Well, column *original_title* certainly does not have the unique constraint, otherwise this query would only return one row.

~~~
SELECT id,
       original_title
FROM   movie
WHERE  original_title = 'The Phantom';  
~~~


id    |original_title |
------|---------------|
744   |The Phantom    |
15496 |The Phantom    |
42032 |The Phantom    |

### 6.3 LIMIT

When doing a SELECT * FROM query, we are selecting **all the rows** from the table. In tables with many rows, this query may take a long time to run. 

By using the **LIMIT** keyword, we can define how many rows shall the query return.

~~~
SELECT id,
       original_title
FROM   movie
WHERE  original_language = 'pt'
       AND runtime > 200
LIMIT  1;  
~~~

id    |original_title      |
------|--------------------|
5867  |Vale Abraão         |

Practical exercise: try to run this query without the LIMIT, to confirm that it would return more than one row.

### 6.4 ORDER BY

We can control the order by which the rows are returned, using the **ORDER BY** keyword. 

The **DESC** keyword allows us to order the rows in descending order. There is also an **ASC** keyword, that makes the sorting in ascending order, but since this is the default behaviour of the ORDER BY, the ASC keyword is oftenly omitted.

~~~
SELECT id,
       original_title,
       release_date
FROM   movie
WHERE  original_language = 'pt'
ORDER  BY release_date
LIMIT  4;  
~~~

id    |original_title       |release_date        |
------|---------------------|--------------------|
14480 |Limite               |1931-05-17 00:00:00 |
34481 |Douro, Faina Fluvial |1931-09-21 00:00:00 |
33093 |A Canção de Lisboa   |1933-11-07 00:00:00 |
33187 |O Pai Tirano         |1941-09-19 00:00:00 |

---

~~~
SELECT id,
       original_title,
       budget
FROM   movie
WHERE  original_language = 'pt'
ORDER  BY budget DESC
LIMIT  4; 
~~~

id    |original_title      |budget   |
------|--------------------|---------|
2321  |A Civil Action      |70000000 |
9790  |Capitães de Abril   |6105121  |
44975 |Operações Especiais |6000000  |
38086 |Besouro             |5000000  |

### 6.5 NULL, NOT NULL

When we want to check if a field is null or not in a where clause, we can use the keywords **IS NULL** and **IS NOT NULL**.

~~~
SELECT id,
       original_title,
       original_language
FROM   movie
WHERE  original_language IS NULL
LIMIT  3; 
~~~

id    |original_title          |original_language |
------|------------------------|------------------|
19575 |Shadowing the Third Man |                  |
21602 |Unfinished Sky          |                  |
22832 |13 Fighting Men         |                  |

---

~~~
SELECT id,
       original_title,
       original_language
FROM   movie
WHERE  original_language IS NOT NULL
LIMIT  3; 
~~~

id |original_title   |original_language |
---|-----------------|------------------|
1  |Toy Story        |en                |
2  |Jumanji          |en                |
3  |Grumpier Old Men |en                |

### 6.6 GROUP BY and aggregate functions

Sometimes it's useful to group rows, in order analyse the data at a group level instead of at record level.
When doing a **GROUP BY** operation, we then need to define an aggregate function on each selected column. 

The most common aggregate functions are **COUNT**, **AVG**, **MIN** and **MAX**, and each of them does exactly what its name indicates. [Here](https://www.postgresql.org/docs/9.5/static/functions-aggregate.html) you can find a list with all the aggregate functions in PostgreSQL. In other DBMSs the available aggregate functions should be similar.

In this example, we're grouping movies by their original language and then finding the number of movies in each group (with the COUNT(id) statement), and the average runtime in each group (with the AVG(runtime) statement).

We can use an aggregate value to order the result. In the example, we're sorting the query result showing first the groups with more movies. For this, we used the ORDER BY COUNT(id) DESC statement.

~~~
SELECT original_language,
       COUNT(id)     AS total,
       AVG(runtime) AS average_runtime
FROM   movie
WHERE  original_language IS NOT NULL
GROUP  BY original_language
ORDER  BY COUNT(id) DESC
LIMIT  3; 
~~~

original_language |total |average_runtime   |
------------------|------|------------------|
en                |32269 |93.13871237717368 |
fr                |2438  |91.98053024026513 |
it                |1529  |87.11179277436946 |

### 6.7 HAVING

The **HAVING** keyword is used to filter groups, in the same way as the WHERE keyword filters rows.

For instance, in this example, we are selecting groups of movies by original_language, but using the HAVING keyword to filter out groups of movies with more than 100 movies.

~~~
SELECT original_language,
       COUNT(*)     AS total_movies,
       AVG(runtime) AS average_runtime
FROM   movie
WHERE  original_language IS NOT NULL
GROUP  BY original_language
HAVING COUNT(*) < 100
ORDER  BY COUNT(*) DESC
LIMIT  3; 
~~~

original_language |total_movies |average_runtime    |
------------------|-------------|-------------------|
ta                |78           |149.67948717948718 |
th                |76           |99.94736842105263  |
he                |67           |97.26865671641791  |

### 6.8 JOIN

So far we have been making queries that target the movie table alone. What if we wanted something different? What if the answer to our questions is spread accross multiple tables? The **JOIN** keyword can help us in these situations.

You can think of a JOIN operation as an horizontal concatenation of two tables, where the rows are aligned according to some field.

The basic syntax of a JOIN operation is the following:

~~~
SELECT *
FROM   tableA
       JOIN tableB
         ON tableA.Key = tableB.Key;
~~~

There are 4 main types of joins, that detemine which rows should be returned based on how the two tables overlap.
Let's call Key to the column we're joining the tables on:

* **INNER JOIN**: this selects the rows for which the value of the Key fields exists in the two tables.
    
<img src="media/inner_join.png" width=250 align=left>

* **LEFT JOIN**: this selects the rows with a value of Key that exists in the two tables plus the rows where the value of Key only exists in table A.

<img src="media/left_join.png" width=230 align=left>

* **RIGHT JOIN**: this selects the rows with a value of Key that exists in the two tables plus the rows where the value of Key only exists in table B.

<img src="media/right_join.png" width=230 align=left>

* **FULL OUTER JOIN**: this selects all the rows that exist in the two tables.
    
<img src="media/full_outer_join.png" width=210 align=left>

### Examples

#### 1.

Let's see some examples. Starting with table movie_actor. This table has a primary key on column *id* and two foreign keys on columns *movie_id* and *actor_id*. The *movie_id* foreign key references table movie on column *id* and the *actor_id* foreign key references table actor on column *id*.

~~~
SELECT *
FROM   movie_actor
LIMIT  2;  
~~~

id |movie_id |actor_id |character_name |
---|---------|---------|---------------|
1  |2        |46265    |Alan Parrish   |
2  |2        |52473    |Judy Shepherd  |


Here we're joining table movie_actor with table movie, using an INNER JOIN. 

~~~
SELECT ma.*,
       m.original_title
FROM   movie AS m
       INNER JOIN movie_actor AS ma
               ON ma.movie_id = m.id
LIMIT 3;
~~~

id |movie_id |actor_id |character_name | original_title |
---|---------|---------|---------------|----------------|
1  |2        |46265    |Alan Parrish   |Jumanji         |
2  |2        |52473    |Judy Shepherd  |Jumanji         |
3  |2        |114219   |Peter Shepherd |Jumanji         |

On this query, note that:
* we're using the **alias** m to designate table movie and the alias ma to designate table movie_actor
* we're selecting all the columns in table movie_actor by doing: SELECT ma.*
* we're only selecting column original_title from table movie by doing: SELECT m.original_title

#### 2.

In the second example, we'll use table oscar. This table has a primary key on column *id* and a foreign key on column *movie_id* referencing table movie on column *id*.

```
SELECT * 
FROM   oscar
LIMIT  3;
```

id |year     |movie_id |
---|---------|---------|
1  |1929     |1817     |
2  |1930     |1818     |
3  |1931     |1820     |


By doing an INNER JOIN between table oscar and table movie, we get a table with all the movies that have an oscar.

```
SELECT o.id AS oscar_id,
       o.year,
       o.movie_id,
       m.original_title 
FROM   oscar AS o
       INNER JOIN movie AS m
               ON m.id = o.movie_id
LIMIT  3;
```

oscar_id |year     |movie_id |original_title      |
---------|---------|---------|--------------------|
1        |1929     |1817     |Wings               |
2        |1930     |1818     |The Broadway Melody |
3        |1931     |1820     |Cimarron            | 

On this query note that we're using an alias on the o.id column in order to rename it to oscar_id.

#### 3.

In the third example, we'll see an example of a LEFT JOIN, using tables movie and oscar.
The result has NULL values in columns oscar_id and year, for the movies that didn't win an oscar.

```
SELECT m.id AS movie_id,
       m.original_title,
       o.id AS oscar_id,
       o.year
FROM   movie AS m
        LEFT JOIN oscar AS o
               ON m.id = o.movie_id;
```

movie_id |original_title               |oscar_id |year |
---------|-----------------------------|---------|-----|
107      |Catwalk                      |NULL     |NULL |
108      |Headless Body in Topless Bar |NULL     |NULL |
109      |Braveheart                   |67       |1996 |
110      |Taxi Driver                  |NULL     |NULL |

#### 4.

The last example is of a slightly more complicated query.
We want to count how many movies we have per genre. For this, we'll need to join tables movie, movie_genre, and genre. You can check how they look like on the SQL client.

```
SELECT g.name AS genre,
       COUNT(*) AS movie_count
FROM   movie AS m
       INNER JOIN movie_genre AS mg
               ON m.id = mg.movie_id
       INNER JOIN genre AS g
               ON mg.genre_id = g.id
GROUP  BY g.name
ORDER  BY COUNT(*) DESC
LIMIT  3;
```

genre    |movie_count |
---------|------------|
Drama    |20265       |
Comedy   |13182       |
Thriller |7624        |


You can check some more examples at the end of the notebook.

## 7. SQL queries and python

Being SQL databases such a powerful data source, we're interested in exporting the result of SQL queries to the python realm.

And of course that pandas, with function **read_sql_query**, has our back!
Let's see how to connect to a SQL database and do a query using python and pandas.

In [1]:
# required imports
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Db settings - PostgreSQL
username = 'ldsa_student'
password = 'XXX'  # the password is not XXX by the way
host_name = 'data-wrangling-batch3.cl9uj9cucww7.eu-west-1.rds.amazonaws.com'
port = 5432
db_name = 'datawrangling'
schema = 'blu03'

conn_str = 'postgresql://{}:{}@{}:{}/{}'.format(username, password, host_name, port, db_name)
conn_args = {'options': '-csearch_path={}'.format(schema)}

We need to create an engine object, which is an object that stores the connection settings, required to communicate with our database. For this, we're using a package called [SQLAlchemy](https://www.sqlalchemy.org/).

Then, we just need to call read_sql_query function, passing it the SQL query as a string and the engine.

In [3]:
engine = create_engine(conn_str, connect_args=conn_args)

In [4]:
query = 'SELECT * FROM movie LIMIT 5;'
pd.read_sql_query(query, engine)

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "ldsa_student"
FATAL:  password authentication failed for user "ldsa_student"
 (Background on this error at: http://sqlalche.me/e/e3q8)

When queries are a little more complicated, it may not be very convenient to write it down in line with the code.
In those cases, we can write the query in a file and load it with some python code.

In [ ]:
# when queries are a bit more complicated,
with open('queries/select_movies_and_genres.sql') as query_from_file:
    df = pd.read_sql_query(query_from_file.read(), engine)
    
df

## 8. Other SQL DBMSs

So far we have been using a PostegreSQL database somewhere in the cloud.
Now, we're going to try to connect and query a [SQLite](https://www.sqlite.org/index.html) database.

Unlike the Postgres database that we've been working on, a SQLite database is just a file! You can read more about that [here](https://www.sqlite.org/onefile.html).

In the root of this repository, you have a file called **the_movies.db**. This file is a SQLite database and now, we're going to connect to it and query it using pandas.

You can also connect to it using DBeaver, give it a try! :)
If you've been using PSequel, you need to install another client that can connect to SQLite databases, like [DB Browser](https://sqlitebrowser.org/).

In [ ]:
# Local SQLite Db
db_file_path = 'data/the_movies.db'
conn_str = 'sqlite:///{}'.format(db_file_path)

In [ ]:
engine = create_engine(conn_str)
query = 'SELECT * FROM movie LIMIT 5'
pd.read_sql_query(query, engine)

## 8. Optional 

### 8.1 More SQL queries (advanced)

Who is the actor playing in more movies?

```
SELECT a.name AS actor_name,
       COUNT(*) AS movie_count
FROM   actor AS a
       INNER JOIN movie_actor AS ma
               ON a.id = ma.actor_id
GROUP  BY a.name
ORDER  BY COUNT(*) DESC
LIMIT  1;  
```

---

For each genre, select:
* the number of movies
* the number of oscars
* the average budget in thousands of dollars as an integer (this is called a CAST)
* the average runtime as an integer

Then, sort the result by the number of oscars per genre in descending order, and return only the first 3 results.

```
SELECT g.name AS genre_name,
       COUNT(m.id) AS n_movies,
       COUNT(DISTINCT o.id) AS n_oscars,
       AVG(m.budget / 1000) :: INT AS avg_budget_in_k_dollars,
       AVG(m.runtime) :: INT AS avg_runtime
FROM   genre AS g
       INNER JOIN movie_genre AS mg
               ON g.id = mg.genre_id
       INNER JOIN movie AS m
               ON mg.movie_id = m.id
        LEFT JOIN oscar AS o
               ON m.id = o.movie_id
GROUP  BY genre_name
ORDER  BY COUNT(DISTINCT o.id) DESC
LIMIT  3;
```

### 8.2 Database design

If you're wondering why are the tables in the MoviesDb modeled the way they are, in particular regarding the relationships between the tables, read [this](https://database.guide/the-3-types-of-relationships-in-database-design/) article.
It's about the types of relationships between tables in relational databases.

When designing a database, you must first define its purpose and map out the different types of information that it will store. Then, you can divide this information into tables, defining each table's primary key and the relationships between tables (i.e. the foreign keys). There are several other more advanced design guidelines and best practices (naming conventions, normalization, which coulmns to index...). You can find many resources online on this topic, if you're interested in exploring further.