In [1]:
# Operating System
import os

import pickle
import json

#Pandas and Numpy
import pandas as pd
import numpy as np

#ramdom generator
import random

# from sklearn.model_selection import train_test_split

# from sklearn.pipeline import Pipeline, make_pipeline, FeatureUnion
# from sklearn.base import TransformerMixin, BaseEstimator

# import category_encoders as ce
# from sklearn.preprocessing import KBinsDiscretizer, Binarizer

# from sklearn.ensemble import RandomForestClassifier
# from sklearn.tree import DecisionTreeClassifier

# from sklearn.metrics import precision_score, recall_score, accuracy_score

# # Custom transformers
# from custom_transformers.transformer import Selector, TextSelector, NumberSelector, BoolSelector, TextCleanerTransformer

# #CURL requests
# import requests 

#Plots
import matplotlib.pyplot as plt
%matplotlib inline

# # Statistics
# from scipy.stats import binom_test

# Strings
import re

In [2]:
file_path = os.path.join('data', 'model_upload.csv')

df_results = pd.read_csv(file_path, 
                         #nrows = 10000, 
                         header=0,
                         warn_bad_lines=True)

In [26]:
df_results

,id,observation_id,observation,proba,true_class
0,1,37,"{""id"": 37, ""observation"": {""Department Name"":""...",0.000000,NaN
1,2,34,"{""id"": 34, ""observation"": {""Department Name"":""...",0.496821,NaN
2,6,3,"{""id"": 3, ""observation"": {""Department Name"":""F...",0.611101,NaN
3,5,2,"{""id"": 2, ""observation"": {""Department Name"":""B...",0.026514,0.0
4,8,4,"{""id"": 4, ""observation"": {""Department Name"":""C...",0.362130,NaN
5,9,5,"{""id"": 5, ""observation"": {""Department Name"":""N...",0.218834,0.0
6,14,44,"{""id"": 44, ""observation"": {""Department Name"":""...",0.430000,NaN
7,15,45,"{""id"": 45, ""observation"": {""Department Name"":""...",0.562887,NaN
8,4,1,"{""id"": 1, ""observation"": {""Department Name"":""N...",0.268328,1.0
9,11,6,"{""id"": 6, ""observation"": {""Department Name"":""S...",0.357439,NaN
10,12,7,"{""id"": 7, ""observation"": {""Department Name"":""S...",0.357439,NaN
11,17,41,"{""id"": 41, ""observation"": {""Department Name"":""...",0.032282,NaN
12,18,87,"{""id"": 87, ""observation"": {""Department Name"": ...",0.514135,NaN
13,20,88,"{""id"": 88, ""observation"": {""Department Name"": ...",0.514135,NaN
14,21,89,"{""id"": 89, ""observation"": {""Department Name"": ...",0.514135,NaN
15,23,90,"{""id"": 90, ""observation"": {""Department Name"": ...",0.514135,NaN
16,24,56,"{""id"": 56, ""observation"": {""Department Name"":""...",0.569752,NaN
17,25,57,"{""id"": 57, ""observation"": {""Department Name"":""...",0.570912,NaN
18,26,58,"{""id"": 58, ""observation"": {""Department Name"":""...",0.156349,0.0
19,27,59,"{""id"": 59, ""observation"": {""Department Name"":""...",0.000000,0.0

In [31]:
json.loads(df_results.observation[0].replace("'", "\""))

{'id': 37,
 'observation': {'Department Name': 'Stamford',
  'InterventionDateTime': '12/10/2014 04:54:00 PM',
  'InterventionLocationName': 'Stamford',
  'InterventionReasonCode': 'V',
  'ReportingOfficerIdentificationID': '11288',
  'ResidentIndicator': True,
  'SearchAuthorizationCode': 'I',
  'StatuteReason': 'Registration',
  'SubjectAge': 44.0,
  'SubjectEthnicityCode': 'H',
  'SubjectRaceCode': 'W',
  'SubjectSexCode': 'M',
  'TownResidentIndicator': True}}

In [36]:
pd.read_json(df_results.observation.str.replace("'", "\"").apply(json.loads))

ValueError: Invalid file path or buffer object type: <class 'pandas.core.series.Series'>

In [24]:
pd.DataFrame(df_results.observation.str.replace("'", "\""))

                                          observation
0   {"id": 37, "observation": {"Department Name":"...
1   {"id": 34, "observation": {"Department Name":"...
2   {"id": 3, "observation": {"Department Name":"F...
3   {"id": 2, "observation": {"Department Name":"B...
4   {"id": 4, "observation": {"Department Name":"C...
5   {"id": 5, "observation": {"Department Name":"N...
6   {"id": 44, "observation": {"Department Name":"...
7   {"id": 45, "observation": {"Department Name":"...
8   {"id": 1, "observation": {"Department Name":"N...
9   {"id": 6, "observation": {"Department Name":"S...
10  {"id": 7, "observation": {"Department Name":"S...
11  {"id": 41, "observation": {"Department Name":"...
12  {"id": 87, "observation": {"Department Name": ...
13  {"id": 88, "observation": {"Department Name": ...
14  {"id": 89, "observation": {"Department Name": ...
15  {"id": 90, "observation": {"Department Name": ...
16  {"id": 56, "observation": {"Department Name":"...
17  {"id": 57, "observation": {"Department Name":"...
18  {"id": 58, "observation": {"Department Name":"...
19  {"id": 59, "observation": {"Department Name":"...

In [15]:
json_acceptable_string = df_results.observation[0].replace("'", "\"")
json_acceptable_string

'{"id": 37, "observation": {"Department Name":"Stamford","InterventionDateTime":"12\\/10\\/2014 04:54:00 PM","InterventionLocationName":"Stamford","InterventionReasonCode":"V","ReportingOfficerIdentificationID":"11288","ResidentIndicator":true,"SearchAuthorizationCode":"I","StatuteReason":"Registration","SubjectAge":44.0,"SubjectEthnicityCode":"H","SubjectRaceCode":"W","SubjectSexCode":"M","TownResidentIndicator":true}}'

In [16]:
json.loads(json_acceptable_string)

{'id': 37,
 'observation': {'Department Name': 'Stamford',
  'InterventionDateTime': '12/10/2014 04:54:00 PM',
  'InterventionLocationName': 'Stamford',
  'InterventionReasonCode': 'V',
  'ReportingOfficerIdentificationID': '11288',
  'ResidentIndicator': True,
  'SearchAuthorizationCode': 'I',
  'StatuteReason': 'Registration',
  'SubjectAge': 44.0,
  'SubjectEthnicityCode': 'H',
  'SubjectRaceCode': 'W',
  'SubjectSexCode': 'M',
  'TownResidentIndicator': True}}

In [5]:
pd.DataFrame(df_results.observation)

                                          observation
0   {"id": 37, "observation": {"Department Name":"...
1   {"id": 34, "observation": {"Department Name":"...
2   {"id": 3, "observation": {"Department Name":"F...
3   {"id": 2, "observation": {"Department Name":"B...
4   {"id": 4, "observation": {"Department Name":"C...
5   {"id": 5, "observation": {"Department Name":"N...
6   {"id": 44, "observation": {"Department Name":"...
7   {"id": 45, "observation": {"Department Name":"...
8   {"id": 1, "observation": {"Department Name":"N...
9   {"id": 6, "observation": {"Department Name":"S...
10  {"id": 7, "observation": {"Department Name":"S...
11  {"id": 41, "observation": {"Department Name":"...
12  {"id": 87, "observation": {"Department Name": ...
13  {"id": 88, "observation": {"Department Name": ...
14  {"id": 89, "observation": {"Department Name": ...
15  {"id": 90, "observation": {"Department Name": ...
16  {"id": 56, "observation": {"Department Name":"...
17  {"id": 57, "observation": {"Department Name":"...
18  {"id": 58, "observation": {"Department Name":"...
19  {"id": 59, "observation": {"Department Name":"...

In [6]:
json.loads(df_results.observation)

TypeError: the JSON object must be str, bytes or bytearray, not Series